
.logo {
    height: 50px;
    display: flex;
    margin-left: 10px;

}

.search-container {
    
    display: flex;
    background: #fff;
    margin-left: 120px;
    border-radius: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 40px 0 0 40px;
}

.search-container button {
    background: #b03aa3;
    color: white;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    margin: 4px;
    transition: 0.3s;
}

.search-container button:hover {
    background: #962c8a;
}

.icon {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 250px;
    font-size: 30px;
    color: grey;
}

.para {
    font-size: medium;
}

.panel-ops {
    height: 50px;
    margin-top: 10px;
    background-color: #962c8a;
    display: flex;
    color: rgb(231, 219, 219);
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    padding-bottom: 15px;
}

.hero-section img {
    width: 100%;
}

.shop-section {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}



.box img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.line {
    display: flex;
    justify-content: center;
    align-items: center;

}

.line h1 {
    color: #962c8a;
    font-size: 30px;
    
}

.p {
    display: flex;
    justify-content: center;
    color: grey;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    
}
.discount{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #e926ae;
    color: white;
    border-radius: 50%;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    z-index: 10;
    margin-left: 10px;
    margin-top: 10px;
}

.a {
    width: 19%;
    border: 1px solid gray;
    border-radius: 10px;
    color: #962c8a;
    font-weight: bold;
}

.a:hover {
    cursor: grab
}





.a img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
}

.image1 {
    display: block;
    transition: opacity 0.5s;

}

.image2 {
    display: none;
}

.product-images:hover {
    cursor: pointer;
}

.product-images:hover .image1 {
    display: none;
}

.product-images:hover .image2 {
    display: block;
    transition: opacity 0.5s;
}
.a{
    position: relative;
    
}


.card{
    position: absolute;
    top: 13px;
    right: -50px; 
    display: none;
    flex-direction: column;
    gap: 12px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.a:hover .card{
    display: flex;
    transition: opacity 2s 0.6 ease-in-out;
    right: 10px; 
    opacity: 1;
}

.card i{
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card i:hover{
    background: #962c8a;
    color: white;
}

.a p {
    color: gray;
    padding-left: 10px;
    font-size: 15px;
}

.a del {
    color: gray;
    padding-left: 10px;
}



.a button {
    padding: 10px;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    color: #962c8a;
    font-size: 18px;

}

.a button:hover {
    background-color: #962c8a;
    color: white;
}



.img-box {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    display: none;
}

.veiw {
    height: 20px;
    width: 6%;
    border: 2px solid #962c8a;
    border-radius: 13px;
    color: #962c8a;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 4px;
    margin: auto;
    display: block;
    transition: 0.3s;
}

.veiw:hover {
    background-color: #962c8a;
    color: white;

}
.bar img{
    width: 100%;
}

.footer {
    display: flex;

}

.foot1 {
    height: 300px;
    width: 50%;
    background-color: rgb(238, 236, 236);
    color: gray;
}

.foot2 {
    height: 300px;
    width: 50%;
    background-color: rgb(238, 236, 236);
    color: gray;
}

.text {
    color: #962c8a;
    font-size: 30px;
    font-weight: 80;
    padding-top: 50px;
    padding-left: 20px;
}

.footer p {
    text-align: justify;
    line-height: 1.3;
    padding-left: 20px;
}

.foot3 {
    height: 200px;
    background-color: #962c8a;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    margin-top: 10px;
}


.foot4 {
    height: 300px;
    background-color: #962c8a;
    color: white;
    padding-left: 20px;
}

h2 {
    color: white;
    font-weight: normal;
    padding-left: 20px;
    padding-top: 50px;
}


.foot4 p {
    padding-left: 26px;
    line-height: 30px;
    font-size: 20px;
}

.search-email {
    width: 50%;
    display: flex;
    background: #fff;
    margin-left: auto;
    margin-right: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

}

.search-email input {
    flex: 1;
    border: none;
    outline: none;
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 40px 0 0 40px
}

.search-email button {
    background: #b03aa3;
    color: white;
    border: none;
    padding: 15px;
    font-size: 19px;
}

.cheack {
    display: flex;
    margin-left: 625px;
}

.foot5 {

    background-color: white;
    display: flex;
    justify-content: space-around;

}

ul b {
    display: block;
    color: grey;

}

ul p {
    font-weight: normal;
    font-size: 25px;
}

.foot5 :hover {
    color: #962c8a;
}

.icons {
    color: #962c8a;
    font-size: 35px;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;

}