@media (min-width: 425px) and (max-width: 768px) {
    .logo {
        height: 50px;
        padding-right: 55px;
    }

    .search-container {
        height: 40px;
        margin-left: 35px;
        margin-top: 10px;
    }

    .search-container input {
        padding: 6px;
        font-size: 12px;
    }

    .search-container button {
        height: 32px;
        padding: 18px;
        font-size: 14px;
        margin: auto;
        margin-right: 2px;
    }

    .icon {
        margin: 6px;
        margin-top: 30px;
        font-size: 22px;
        gap: 7px;
        margin-left: 17px;
    }

    .panel-ops {
        font-size: 10px;
        padding-right: 10px;
    }


    .para {
        font-size: 12px;
        padding-left: 35px;
    }

    .line h1 {
        font-size: 17px;
    }

    .container {
        width: 100%;

    }

    .veiw {
        width: 10%;
    }

    .footer {
        height: 400px;
    }

    .text {
        padding: 2px;
        padding-left: 25px;
        padding-top: 12px;
        font-size: 25px;
    }

    .footer p {
        padding: 9px;
        font-size: 15px;
    }

    ul p {
        font-size: 13px;
        padding-right: 42px;
    }

    .search-email {
        margin: auto;
    }

    .cheack {
        margin: auto;
        margin-left: 173px;
    }

    .foot5 {
        font-size: 12px;
    }
}