.logo{
    display: flex;
    margin-left: 10px;
}

.search-container{
    width: 50%;
    display: flex;
    background: #fff;
    margin-left: 120px;
    border-radius: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.search-container input{
    flex: 1;
    border: none;
    outline: none;
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 40px 0 0 40px;
}

.search-container button{
    background: #b03aa3;
    color: white;
    border: none;
    padding: 16px 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 40px;
    margin: 4px;
    transition: 0.3s;
}

.search-container button:hover{
    background: #962c8a;
}
.icon{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: 250px;
    font-size: 30px;
    color: grey;
}

.para{
    font-size: medium;
}

.panel-ops{
    height: 50px;
    margin-top: 10px;
    background-color: #962c8a;
     display: flex;
    color: rgb(231, 219, 219);
    align-items: center;
    justify-content: space-evenly;

}

.panel-ops p{
     display: inline;
     margin-left: 15px;
     padding-bottom: 15px;
}
 /**shop-section**/
 .shop-section{
    display: flex;
     gap: 20px;
 }

 .box{
    height: 420px;
    width: 25%;
   
 }

 .box-img{
    height: 410px;
    background-size: cover;
 }

